:root {
  /* For weather colors */
  --freezing: #e4f0fe;
  --cold: #c3e0fb;
  --warm: #cdf0eb;
  --hot: #fff4da;
  --burning: #fdd4d7;

  /* For selected city */
  --selected: #c3e0fb;

  /* Text colors */
  --primary: #0d1d35;
  --secondary: #989eaa;

  /* Other colors */
  --grayish: #f2f2f2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
